.card {
  width: 80vh;
  max-width: 200vw;
  height: 20vh;
  margin: 10px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  transition: transform 0.2s ease-in-out;
  display: flex;
  order: 2;
  justify-content: space-evenly;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
