.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(
    circle at 12% 0%,
    #161469,
    rgb(255, 255, 255),
    #161469
  );
}
.logo,
.title,
.loginGroup {
  display: flex;
  align-items: center;
}
.title {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #161469;
}
.logo {
  height: 100px;
}
.signUpLink {
  font-size: 15px;
  color: #161469;
  padding: 1px;
  border: solid;
  border-radius: 5px;
  background-color: rgb(165, 184, 197);
}
.loginLink {
  font-size: 15px;
  color: #161469;
  margin-left: 1vw;
  padding: 1px;
  border: solid;
  border-radius: 5px;
  background-color: rgb(165, 184, 197);
}

.signUpLink:hover {
  color: rgb(165, 184, 197);
  background-color: #161469;
}

.loginLink:hover {
  color: rgb(165, 184, 197);
  background-color: #161469;
}
.userIcon {
  height: 25px;
  margin-left: 2px;
}
