.formContainer {
  top: 0;
  left: 0;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

form {
  position: relative; /* Set this to position the close button relative to the form */
  padding: 20px;

  border-radius: 8px;
  width: 400px; /* Adjust the form width as needed */
  background: radial-gradient(
    circle at 12% 0%,
    #161469,
    rgb(255, 255, 255),
    #161469
  );
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: slategrey;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.closeButton {
  position: absolute; /* Position relative to the form */
  top: 10px; /* Adjust distance from the top edge of the form */
  right: 10px; /* Adjust distance from the right edge of the form */
  background-color: red; /* Choose an appropriate background color */
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50%; /* Make the button round */
  width: 30px; /* Adjust size */
  height: 30px; /* Adjust size */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other elements */
}

.closeButton:hover {
  background-color: darkred; /* Change color on hover */
}
